/* Configuration Page */
.panel-body {
	border: 1px solid #008A8A;
}
.panel-title {
	color: white;
}
.mainD {
	
}
.headerD {
	height: 20%;
}

/* Pulling down the below div */
.bodyD {
	height: 90%;
	padding: 30px 0 0 0;
}
.bodyLeftD {
	width: 15%;
	float: left;
}
.bodyLeftD :first-child {
	margin: 10px 0 0 0;
}
.bodyLeftD ul li {
	list-style: none;
	padding: 0 0 20px 0;
	font-size: 16px;
	text-decoration: none;	
}
.bodyLeftD ul li :hover {
	font-size: 17px;
	text-decoration: none;	
}
.bodyRightD {
	width: 84%;
	float: right;
}
.bodyRightD .panel{
	max-width: 60%;
	margin: 0 0 0 10%;
}
.headerD h1{
	text-align: center;
	font-size: 30px;
}
#configD {
	max-width: 80%;
	margin: 0 auto;
}

/* Space Between rows */
#formTable tr > td{
	padding-bottom: 15px;
}
/* Space between Columns */
#formTable tr :nth-child(2){
	padding-left: 20px;
}
/* Making the titles bold */
.item td:first-child {
	font-weight: bold;
}

select {
	height: 26px; 
	width: 250px;
	border-radius: 2px;
}
input[type='text'], input[type='number'] {
	width: 100px;
}

/* **** Jobs Page ***** */
.back-gray {
	border: 1px solid #e3e3e3;
	background-color: #f9f9f9;
}
.jobsD {
	max-width: 95%;
	margin: 0 auto;
}
#jobsTable {
	table-layout: fixed;
	width: 100%;
}
#jobsTable tr:first-child {
	font-weight: bold;
	text-align: center;
}
#jobsTable tr > td {
	width: 15%;
	padding: 10px 50px 10px 10px;
	text-align: center;
}
#jobsTable tr :nth-child(2) {
	width: 25%;
}
select {
	width: 100px;
	border-radius: 2px;
}

 td {

    /* css-3 */
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}
.noBorder {
	border: none;
	border-style: none;
	width: 100px;
}